.tabs {
  --tabsBodyRowGap: 0;
  --tabNonActiveContentDisplay: none;

  &--enable-only-on-mobile{
    @include mobile-above {
      --tabNonActiveContentDisplay: block;
      --tabsNavigationDisplay: none;
    }
  }

  &__body {
    display: grid;
    row-gap: var(--tabsBodyRowGap);
  }

  &__content {
    &:not(.is-active) {
      display: var(--tabNonActiveContentDisplay);
    }
  }
}